body {
  background:black;
  text-rendering: optimizeLegibility;
  color:Snow;
}
.nav li{
  font-size:18px;
}

p.description {
  display:none;
  font-size:16px;
  background:#333;
  padding:16px 8px 16px 16px;
  line-height:1.6;
  font-family:Georgia;
}

.description.visible {
  display:block
}
.feed {
  overflow:hidden;
  background-color:#222;
}
.feed a.external_link{ 
/* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  color:LightSteelBlue; 
  margin-top:1rem;
  display:block;
}

h2 {
  font-size:20px;
  background:LightSlateGray ;
  color:snow;
  padding:4px 16px;
}

h3 {
  font-size:16px;
  line-height:1.6;
  padding-left:16px;
  padding-right:8px;
}
h3 a{
  display:block;
  color:#efefef;
  color:LightSteelBlue; 
}

a{
 color:LightSteelBlue ;

}
a:focus, a:hover{
  color:white;
}


#scrollUp {
  background-image: url("../img/top.png");
  bottom: 20px;
  right: 20px;
  width: 38px;    /* Width of image */
  height: 38px;   /* Height of image */
}
.nav > li > a:focus, .nav > li > a:hover {
	text-decoration: none;
	background-color: #666;
	color:white ;
}  

